.cart_checkout_button{
    margin-top: 6rem;
}
.cart_img_size{
    width: 168px;
    height: 168px;
}
.banner_bg{
    
    background: url("../public/images/small_banner.png") no-repeat center center;
    background-size: 100% 100%;
}
.counter{
    width: 123px;
    height: 45px;
}


@media screen and (max-width: 768px) {
    .cart_img_size{
        width: 105px;
        height: 105px;
    }
    .counter{
        width: 93px;
        height: 39px;
    }
    .customShowPrice{
        flex-direction: column;
        align-items: start !important;
    }
   
    
}