.custom_file_input::-webkit-file-upload-button {
    visibility: hidden ;
  }
  .custom_file_input::before {
    content: 'Choose File';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 50px;
    /* padding: 5px 115px; */
    width:100%;
    text-align: center;
    padding: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom_file_input:hover::before {
    border-color: black;
  }
  .custom_file_input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  .heartIcon{
    transition: transform 0.5s;
  }
  .heartIcon:hover{
    transform: scale(1.3);
  }
  .addToCartButton{
    border: 2px #212529 solid;
    background-color: #212529;
    color: white;
  }
  .addToCartButton:hover{
    border: 2px #212529 solid;
    background-color: white ;
    color: #212529;
  }

 